body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.125rem;
    border-radius: .938rem;
    width: 35%;
}
fieldset{
    padding: auto;
    border: .188rem solid dodgerblue;
}
legend{
    border: .063rem solid dodgerblue;
    padding: .625rem;
    text-align: center;
    background-color: dodgerblue;
    border-radius: .5rem;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: .063rem solid white;
    outline: none;
    color: white;
    font-size: .938rem;
    width: 100%;
    letter-spacing: .125rem;
}
.labelInput{
    position: absolute;
    top: 0rem;
    left: 0rem;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -1.25rem;
    font-size: .75rem;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: .5rem;
    border-radius: .625rem;
    outline: none;
    font-size: .938rem;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: .938rem;
    color: white;
    font-size: .938rem;
    cursor: pointer;
    border-radius: .625rem;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}